body {
  font-family: $default-font;
  background-color: $whiteColor;
  color: $blackColor;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
